
.binary-node-wrapper{
    position: relative;
    /* background: blue */
}

.binary-node-circle{
    width: 80px;
    height: 80px;
    border-radius: 100%;
    background: pink;
    display: flex;
    align-items: center;
    justify-content: center;
}

.right-tentacle{
    width: 60px;
    height: 3px;
    background: orange;
    position: absolute;
    transform: rotate(-45deg);
    right: -35px;
    top: -15px;
}
.left-tentacle{
    width: 60px;
    height: 3px;
    background: green;
    position: absolute;
    transform: rotate(45deg);
    left: -35px;
    top: -15px;
}